<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<br>
<div *ngIf="!products">
    Cargando Productos
</div >
<div *ngIf="products">
        <div class="content" *ngFor="let product of products">
            <img src={{product.imagen}} style="width:25%; height:15%" />
            <ul class="contData">
                <strong class="dataNombre">{{product.nombre}}</strong>
                <br>
                <br>
                <li class="data">Precio: {{product.precio}}</li>
                <br>
                <li class="data">Categoria: {{product.categoria}}</li>
                <br>
            </ul>
            <a (click)="onAdd(product.id)"  class="fa fa-shopping-cart car" aria-hidden="true">Agregar </a>
        </div>
</div>

<style type="text/css">

.content{
    display: flex;
    flex-direction: row;
    background-color: rgb(255,255,255);
    position: relative;
    height: 100%;
    width: 100%;
    padding: 18px 18px 30px;
    flex: 1 1 0%;
    border-left: none
}

.contData{
    font-size: 1.1rem;
    line-height: 1.3rem;
}

.data{
    position: relative;
    padding-left: 5px;
    margin-bottom: 2px;
    font-size: 14px;
    line-height: 12px;
}
.dataNombre{
    position: relative;
    padding-left: 5px;
    margin-bottom: 2px;
    font-size: 17px;
    line-height: 12px;
}

.car{
    font-size: 181%;
    margin-left: 65px;
    cursor:grab;
    color:blue !important;

}

.linea{
  border-top: 1px solid black;
  height: 2px;
  max-width: 200px;
  padding: 0;
  margin: 20px auto 0 auto;
}

</style>
